body {
  background: blueviolet;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  height: -200px;
}

h2{
text-align: center;
height: 300px;
}

.caixa1 {
  position: absolute;
  background: lightblue;
  width: 200px;
  height: 200px;
  right: 400px;
  bottom: 200;
}

.caixa2 {
  position: absolute;
  background: lightpink;
  width: 200px;
  height: 200px;
  right: 705px;
  bottom: 200;
}

.menuPrincipal {
  position: absolute;
  width: 100%;
  height: 45px;
  background: darkblue;
  top: 0;
  left: 0;
}

nav ul {
list-style-type: none ;
margin: 0;
padding: 0;
overflow: 0;
}

li {
float: left;
}

li a {
  display: block;
  color: aqua;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: aquamarine;
  background: bisque;
}

.boximage {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 50%;
  background: pink;
  top: 50px;
  left: 0%;
  margin: 20px;
  border-color: black;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
}

.conteudo {
  position: absolute;
  top: 45px;
  width: 100%;
}

#rodape {
  width: 100%;
  height: 40px;
  background: blue;
  color: blanchedalmond;
}

#tituloHome {
  text-align: center;
}

#tituloPagina1 {
  text-align: center;
}